# Basic Operations

This lecture will cover some basic operations with Spark DataFrames.

We will play around with some stock data from Apple.

In [1]:
from pyspark.sql import SparkSession

Create SparkSession object is the first entrypoint to start your Spark code. For each time running Spark job, the SparkDriver base on SparkSession to divide task, assign task to worker and collect result from worker

In [3]:
# May take awhile locally
spark = SparkSession.builder.appName("DemoOperations").getOrCreate()

24/08/15 10:11:16 WARN Utils: Your hostname, quangnx7-Inspiron-16-Plus-7630 resolves to a loopback address: 127.0.1.1; using 192.168.1.13 instead (on interface wlp0s20f3)
24/08/15 10:11:16 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/08/15 10:11:16 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

Read CSV

In [6]:
# Let Spark know about the header and infer the Schema types!
df = spark.read.csv("appl_stock.csv", inferSchema=True, header=True)

Print schema

When you read csv with `inferSchem=True`, you can view the schema automatically assign to the Spark data frame

In [8]:
df.printSchema()

root
 |-- Date: date (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

## Filtering Data

Filter Close > 500

Remember Spark is lazy, so it does not run until you call an action(). The code below, show() is an action

In [11]:
df.filter("Close>500").show()

+----------+------------------+------------------+------------------+------------------+---------+-----------------+
|      Date|              Open|              High|               Low|             Close|   Volume|        Adj Close|
+----------+------------------+------------------+------------------+------------------+---------+-----------------+
|2012-02-13|        499.529991|503.83000899999996|497.08998899999995|502.60002099999997|129304000|        65.116633|
|2012-02-14|        504.659988|         509.56002|        502.000008|        509.459991|115099600|        66.005408|
|2012-02-16|        491.500008|        504.890007|         486.62999|502.20999900000004|236138000|        65.066102|
|2012-02-17|        503.109993|507.77002000000005|        500.299995|         502.12001|133951300|        65.054443|
|2012-02-21|506.88001299999996|        514.850021|504.12000300000005|        514.850021|151398800|        66.703738|
|2012-02-22|        513.079994|        515.489983|509.07002300000005|        513.039993|120825600|66.46923100000001|
|2012-02-23|        515.079987|        517.830009|        509.499992| 516.3899769999999|142006900|        66.903253|
|2012-02-24| 519.6699980000001|        522.899979| 518.6400150000001| 522.4099809999999|103768000|        67.683203|
|2012-02-27|        521.309982|             528.5| 516.2800139999999|        525.760017|136895500|        68.117232|
|2012-02-28|        527.960014|        535.410011|        525.850006|        535.410011|150096800|69.36748100000001|
|2012-02-29| 541.5600049999999| 547.6100230000001|        535.700005|        542.440025|238002800|        70.278286|
|2012-03-01|        548.169983|        548.209984| 538.7699809999999| 544.4699780000001|170817500|        70.541286|
|2012-03-02|        544.240013|        546.800018|        542.519974|        545.180008|107928100|        70.633277|
|2012-03-05|        545.420013|         547.47998|        526.000023| 533.1600269999999|202281100|        69.075974|
|2012-03-06|        523.659996|        533.690025| 516.2199860000001|        530.259987|202559700|68.70024599999999|
|2012-03-07| 536.8000030000001|        537.779999|        523.299988| 530.6900099999999|199630200|68.75595899999999|
|2012-03-08| 534.6899950000001|        542.989998|        532.120003|        541.989975|129114300|        70.219978|
|2012-03-09|        544.209999|        547.740013|        543.110001|        545.170021|104729800|70.63198299999999|
|2012-03-12| 548.9799879999999|        551.999977|        547.000023|        551.999977|101820600|        71.516869|
|2012-03-13|        557.540024|            568.18|        555.750023|        568.099998|172713800|73.60278100000001|
+----------+------------------+------------------+------------------+------------------+---------+-----------------+
only showing top 20 rows

Filter Close and select

In [12]:
df.filter("Close>500").select("Open").show()

+------------------+
|              Open|
+------------------+
|        499.529991|
|        504.659988|
|        491.500008|
|        503.109993|
|506.88001299999996|
|        513.079994|
|        515.079987|
| 519.6699980000001|
|        521.309982|
|        527.960014|
| 541.5600049999999|
|        548.169983|
|        544.240013|
|        545.420013|
|        523.659996|
| 536.8000030000001|
| 534.6899950000001|
|        544.209999|
| 548.9799879999999|
|        557.540024|
+------------------+
only showing top 20 rows

In [13]:
df.filter("Close>500").select(["Open", "Close"]).show()

+------------------+------------------+
|              Open|             Close|
+------------------+------------------+
|        499.529991|502.60002099999997|
|        504.659988|        509.459991|
|        491.500008|502.20999900000004|
|        503.109993|         502.12001|
|506.88001299999996|        514.850021|
|        513.079994|        513.039993|
|        515.079987| 516.3899769999999|
| 519.6699980000001| 522.4099809999999|
|        521.309982|        525.760017|
|        527.960014|        535.410011|
| 541.5600049999999|        542.440025|
|        548.169983| 544.4699780000001|
|        544.240013|        545.180008|
|        545.420013| 533.1600269999999|
|        523.659996|        530.259987|
| 536.8000030000001| 530.6900099999999|
| 534.6899950000001|        541.989975|
|        544.209999|        545.170021|
| 548.9799879999999|        551.999977|
|        557.540024|        568.099998|
+------------------+------------------+
only showing top 20 rows

Using normal python comparison operators is another way to do this, they will look very similar to SQL operators, except you need to make sure you are calling the entire column within the dataframe, using the format: df["column name"]

Let's see some examples:

Using


& : and

| : or

~ : not

In [20]:
df.filter((df["Open"] > 100) & (df["Close"] < 200)).show()

+----------+------------------+------------------+------------------+------------------+---------+------------------+
|      Date|              Open|              High|               Low|             Close|   Volume|         Adj Close|
+----------+------------------+------------------+------------------+------------------+---------+------------------+
|2010-01-22|206.78000600000001|        207.499996|            197.16|            197.75|220441900|         25.620401|
|2010-01-28|        204.930004|        205.500004|        198.699995|        199.289995|293375600|25.819922000000002|
|2010-01-29|        201.079996|        202.199995|        190.250002|        192.060003|311488100|         24.883208|
|2010-02-01|192.36999699999998|             196.0|191.29999899999999|        194.729998|187469100|         25.229131|
|2010-02-02|        195.909998|        196.319994|193.37999299999998|        195.859997|174585600|25.375532999999997|
|2010-02-03|        195.169994|        200.200003|        194.420004|        199.229994|153832000|25.812148999999998|
|2010-02-04|        196.730003|        198.370001|        191.570005|        192.050003|189413000|         24.881912|
|2010-02-05|192.63000300000002|             196.0|        190.850002|        195.460001|212576700|25.323710000000002|
|2010-02-08|        195.690006|197.88000300000002|        193.999994|194.11999699999998|119567700|           25.1501|
|2010-02-09|        196.419996|        197.499994|        194.749998|196.19000400000002|158221700|         25.418289|
|2010-02-10|        195.889997|             196.6|            194.26|195.12000700000002| 92590400|          25.27966|
|2010-02-11|        194.880001|        199.750006|194.05999599999998|        198.669994|137586400|         25.739595|
|2010-02-23|        199.999998|        201.330002|        195.709993|        197.059998|143773700|         25.531005|
|2014-08-20|        100.440002|        101.089996|         99.949997|            100.57| 52699000| 95.89950999999999|
|2014-08-21|            100.57|        100.940002|        100.110001|100.58000200000001| 33478000|         95.909048|
|2014-08-22|        100.290001|        101.470001|        100.190002|            101.32| 44184000|          96.61468|
|2014-08-25|        101.790001|102.16999799999999|        101.279999|        101.540001| 40270000|         96.824465|
|2014-08-26|101.41999799999999|             101.5|        100.860001|        100.889999| 33152000|         96.204649|
|2014-08-27|        101.019997|            102.57|        100.699997|        102.129997| 52369000|         97.387061|
|2014-08-28|        101.589996|        102.779999|        101.559998|            102.25| 68460000|         97.501491|
+----------+------------------+------------------+------------------+------------------+---------+------------------+
only showing top 20 rows

In [22]:
df.filter((df["Open"] < 100) | ~(df["Close"] < 200)).show()

+----------+------------------+------------------+------------------+------------------+---------+------------------+
|      Date|              Open|              High|               Low|             Close|   Volume|         Adj Close|
+----------+------------------+------------------+------------------+------------------+---------+------------------+
|2010-01-04|        213.429998|        214.499996|212.38000099999996|        214.009998|123432400|         27.727039|
|2010-01-05|        214.599998|        215.589994|        213.249994|        214.379993|150476200|27.774976000000002|
|2010-01-06|        214.379993|            215.23|        210.750004|        210.969995|138040000|27.333178000000004|
|2010-01-07|            211.75|        212.000006|        209.050005|            210.58|119282800|          27.28265|
|2010-01-08|        210.299994|        212.000006|209.06000500000002|211.98000499999998|111902700|         27.464034|
|2010-01-11|212.79999700000002|        213.000002|        208.450005|210.11000299999998|115557400|         27.221758|
|2010-01-12|209.18999499999998|209.76999500000002|        206.419998|        207.720001|148614900|          26.91211|
|2010-01-13|        207.870005|210.92999500000002|        204.099998|        210.650002|151473000|          27.29172|
|2010-01-14|210.11000299999998|210.45999700000002|        209.020004|            209.43|108223500|         27.133657|
|2010-01-15|210.92999500000002|211.59999700000003|        205.869999|            205.93|148516900|26.680197999999997|
|2010-01-19|        208.330002|215.18999900000003|        207.240004|        215.039995|182501900|27.860484999999997|
|2010-01-20|        214.910006|        215.549994|        209.500002|            211.73|153038200|         27.431644|
|2010-01-21|        212.079994|213.30999599999998|        207.210003|        208.069996|152038600|         26.957455|
|2010-01-25|202.51000200000001|        204.699999|        200.190002|        203.070002|266424900|26.309658000000002|
|2010-01-26|205.95000100000001|        213.710005|        202.580004|        205.940001|466777500|         26.681494|
|2010-01-27|        206.849995|            210.58|        199.530001|        207.880005|430642100|26.932840000000002|
|2010-02-12|        198.109995|        201.639996|        195.500002|200.37999299999998|163867200|25.961142000000002|
|2010-02-16|        201.940002|        203.690002|        201.520006|        203.399996|135934400|         26.352412|
|2010-02-17|        204.190001|        204.310003|        200.860004|        202.550003|109099200|         26.242287|
|2010-02-18|        201.629995|        203.889994|        200.920006|        202.929998|105706300|         26.291519|
+----------+------------------+------------------+------------------+------------------+---------+------------------+
only showing top 20 rows

In [24]:
df.filter(df["Close"] == 210.58).show()

+----------+------+----------+----------+------+---------+---------+
|      Date|  Open|      High|       Low| Close|   Volume|Adj Close|
+----------+------+----------+----------+------+---------+---------+
|2010-01-07|211.75|212.000006|209.050005|210.58|119282800| 27.28265|
+----------+------+----------+----------+------+---------+---------+

collect() is action to return Spark DataFrame as a list of Spark rows. You can use this list of Spark rows to expose data to another third paries.

In [25]:
result = df.filter(df["Close"] == 210.58).collect()

In [26]:
result

[Row(Date=datetime.date(2010, 1, 7), Open=211.75, High=212.000006, Low=209.050005, Close=210.58, Volume=119282800, Adj Close=27.28265)]

In [28]:
type(result[0])

pyspark.sql.types.Row

In [30]:
result[0].asDict()

{'Date': datetime.date(2010, 1, 7),
 'Open': 211.75,
 'High': 212.000006,
 'Low': 209.050005,
 'Close': 210.58,
 'Volume': 119282800,
 'Adj Close': 27.28265}

In [31]:
for item in result[0]:
    print(item)

2010-01-07
211.75
212.000006
209.050005
210.58
119282800
27.28265

# Enrich schema

In Spark we can assign schema to data frame when read data to some specific semi-structure data

In [32]:
df1 = spark.read.json("people.json")

In [33]:
df1.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [34]:
df1.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

You have to

- Define StructField with corresponding data type, e.g: StringType, IntegerType
- Group all StructField into list, then add this list to StructType
- Add StrucType to the SparkReader with parameter `schema`

In [35]:
from pyspark.sql.types import StructField, StringType, IntegerType, StructType

In [36]:
data_schema = [StructField("age", IntegerType(), True), StructField("name", StringType(), True)]

In [38]:
final_type = StructType(fields=data_schema)

In [39]:
df2 = spark.read.json("/home/quangnx7/Workspace/Study/Fresher_DE/Spark_DataFrames/people.json", schema=final_type)

In [40]:
df2.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

# Spark Aggregate

You can aggregate data by using `groupBy()`

In [5]:
df3 = spark.read.csv("/home/quangnx7/Workspace/Study/Fresher_DE/Spark_DataFrames/sales_info.csv", inferSchema=True, header=True)

In [6]:
df3.printSchema()

root
 |-- Company: string (nullable = true)
 |-- Person: string (nullable = true)
 |-- Sales: double (nullable = true)

In [43]:
df3.show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|    Sam|200.0|
|   GOOG|Charlie|120.0|
|   GOOG|  Frank|340.0|
|   MSFT|   Tina|600.0|
|   MSFT|    Amy|124.0|
|   MSFT|Vanessa|243.0|
|     FB|   Carl|870.0|
|     FB|  Sarah|350.0|
|   APPL|   John|250.0|
|   APPL|  Linda|130.0|
|   APPL|   Mike|750.0|
|   APPL|  Chris|350.0|
+-------+-------+-----+

In [44]:
df3.groupBy("Company")

In [45]:
df3.groupBy("Company").mean().show()

+-------+-----------------+
|Company|       avg(Sales)|
+-------+-----------------+
|   APPL|            370.0|
|   GOOG|            220.0|
|     FB|            610.0|
|   MSFT|322.3333333333333|
+-------+-----------------+

In [48]:
from pyspark.sql.functions import format_number
from pyspark.sql.functions import count_distinct, stddev

In [52]:
df3_std = df3.select(stddev("sales").alias("std_sales"))
df3_std = df3_std.select(format_number("std_sales", 2)).show()

+---------------------------+
|format_number(std_sales, 2)|
+---------------------------+
|                     250.09|
+---------------------------+

# SparkSQL

You can transform data by the form of SQL syntax by using SparkSQL

In [7]:
df3.createOrReplaceTempView("sales_info")

In [12]:
sql_stmt = """select Company, Person, Sales as Max_sales
from (
    select Company, Person, Sales,
        dense_rank() over(partition by Company order by Sales desc) as rank_sales
    from sales_info
)
where rank_sales = 1
"""

sql_result = spark.sql(sql_stmt)

In [13]:
sql_result

DataFrame[Company: string, Person: string, Max_sales: double]

In [14]:
sql_result.show()

+-------+------+---------+
|Company|Person|Max_sales|
+-------+------+---------+
|   APPL|  Mike|    750.0|
|     FB|  Carl|    870.0|
|   GOOG| Frank|    340.0|
|   MSFT|  Tina|    600.0|
+-------+------+---------+